@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">GORLOCK THE DESTROYER! </h1>
    <table boarder ="1">
        <tr>
            <th>Name</th>
            <td>Hitler</td>
        </tr>
        <tr>
            <th>Age</th>
            <td>56</td>
        </tr>
        <tr>
            <th>Adress</th>
            <td>Germany</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>Trans</td>
        </tr>
    </table>
    <img src="https://imageproxy.ifunny.co/crop:x-20,resize:640x,quality:90x75/images/ed6d84698dcbcfd525999501138f35cb41204cf7457fb13d394c69f221119587_1.jpg" alt="GORLOCK THE DESTROYER" width="700">
</div>
